HeThongGiuXe/[Bb]in/
HeThongGiuXe/[Oo]bj/
HeThongGiuXe/*.suo
HeThongGiuXe/*.user
HeThongGiuXe/*.userosscache
HeThongGiuXe/*.sln.docstates
packages/*
HeThongGiuXe/App.config
.vs
HeThongGiuXe/.vs
.vs/HeThongGiuXe/*